
body{
  color: #40514E;
  margin: 0;
 text-align: center;

}
   h1{
    line-height:2;
     font-size: 5.625rem;
     margin:50 auto o auto;
     font-family: 'Hachi Maru Pop', cursive;
     color: #66BFBF;
   }
   h2{

     height:2;
   font-size: 2.5rem;
   font-family: 'Montserrat', sans-serif;
   color: #66BFBF;
   font-weight:normal;
   padding-bottom: 10px
 }
   h3{
     line-height: 2;
   font-family:'madefor-text,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh',sans-serif;
   color: #11999E;
 }
  p{
   line-height: 1.5;
 }
 hr{
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
   margin: 100px auto;
 }
  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }

.top {
  position: relative;
 background-color: #adeecf;
 padding-top: 100px;


}
.middle{
  margin:100px 0;

}
.bottom{
  margin: 5% auto auto auto;
  padding: 50px 0 20px;
 background-color: #adeecf;
}


.pro{
  text-decoration: underline;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom:300px;
}
.img1{
  height:300px;
  border-radius: 100%;
}
.img2{
  float: left;
  margin-right: 30px;
  width: 25%;
  height:200px;
  border-radius: 100%;
}
.img3{
  float: right;
  margin-right: 30px;
  height:200px;
  width: 25%;
  border-radius: 100%;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.contact-mesg{
  width: 40%;
  margin: 3% auto 3% auto;
}
.contact-me{

}

.intro{
  width: 30%;
  margin: auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.footer-link{
  color:  #11999E;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999B);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999B);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999B);
  background-image: -o-linear-gradient(top, #11CDD4, #11999B);
  background-image: linear-gradient(to bottom, #11CDD4, #11999B);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
